
.form-style-2{
	max-width: 100%;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
	padding: 10px 20px;
}
.main-div{
	width: 700px;
	background-color: gainsboro;
	margin: 50px;
}
.form-style-2-heading{
	font-weight: bold;
	border-bottom: 2px solid gray;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
	width: 20%;
}
.form-style-2 label{
	display: block;
	margin: 0px 20px 20px 0px;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}

.form-style-2 input.date{
	width: 30%;
}

.form-style-2 .full{
	width: 80%;
}

.form-style-2 .select-field{
	width: 60%;
}

.form-style-2 input.input-field,  
 .form-style-2 .select-field{
	box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 8px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus,
.form-style-2 .select-field:focus{
	border: 1px solid #0C0;
}

.form-style-2 input[type=submit]{
	border: none;
	padding: 20px 25px;
	background: green;
	color: #fff;
	margin: 10px 10px 10px 40px;
}

.form-style-2 input[type=button]{
	border: none;
	padding: 20px 25px;
	color: red;
	border: 1px solid red;
	margin: 10px 40px 10px 10px;
}

.form-style-2 .btn{
	display: inline-block;
}